@import "./abstract/fonts";
@import "./abstract/variables";
@import "./components/nav";
@import "./components/header";
@import "./components/blog";

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background-color: $color--neutral;
  color: $color--contrast;
  font-size: 16px;
  font-family: $font--sans;
  line-height: 1.3;
}
body {
  margin: 0;
}
p {
  margin-block-start: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-family: $font--sans-extended;
}
h2 {
  font-size: 3.6rem;
}

.app {
  padding: 0 4.375rem;
  margin: 0 auto;
  max-width: 88.75rem;
}
