.blog {
  &:before {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(
      to bottom,
      transparent 1rem,
      transparentize($color--neutral, 0.1) 5rem
    );
  }
  &__header {
    padding-top: 10rem;

    color: $color--mid;
    .nuxt-link-active {
      color: $color--contrast;
    }
  }
}

.blog-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 5.625rem;
  justify-content: center;
  min-height: 50vh;
}

.blog-list-item {
  // max-width: 60ch;
  &__date {
    color: $color--mid;
    display: block;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
  }
  &__description {
    line-height: 2;
  }
  &__link {
    text-align: right;
    text-decoration: underline;
    display: block;
    transition: all 0.2s ease;
    &:hover {
      color: $color--mid;
    }
  }
}
