.intro {
  padding-top: 15rem;
  display: grid;
  color: $color--mid;
  align-content: end;
  margin-bottom: -5rem;
  font-size: 1.8rem;
  @include screen(sm) {
    font-size: 2.5rem;
  }
  @include screen(md) {
    font-size: 3.5rem;
  }
  h1 {
    font-family: $font--sans;
    font-weight: normal;
    font-size: inherit;
  }
  .chris {
    // cursor: url("~assets/img/cursor.png") 5 5, wait;
    font-family: $font--sans-extended;
    color: $color--contrast;
    display: inline;
  }
  del {
    position: relative;
    cursor: not-allowed;
    &:before {
      color: $color--brand-merritt;
      font-family: $font--sans-extended;
      content: "coming soon";
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      opacity: 0;
      transform: translateY(0);
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      &:before {
        opacity: 1;
        transform: translateY(-1.5rem);
      }
    }
    a {
      color: $color--mid;
      pointer-events: none;
    }
  }
  a {
    white-space: nowrap;
    font-family: $font--sans-extended;
    color: $color--contrast;
    transition: all 0.2s ease;
    --brand-color: $color--mid;
    span {
      color: inherit;
    }

    svg {
      width: 1ch;
    }

    &:hover {
      color: var(--brand-color);
    }
    &.faculty {
      --brand-color: #{$color--brand-faculty};
    }
    &.atlas-local {
      --brand-color: #{$color--brand-atlas-local};
    }
    &.greenville {
      --brand-color: #{$color--brand-greenville};
    }
    &.n7th {
      --brand-color: #{$color--brand-n7th};
    }
    .atlo-svg {
      --rotate: 0deg;
      transform-origin: 50% 50%;
      transform: rotate(var(--rotate));
    }
    &.linkedin {
      --brand-color: #{$color--brand-linkedin};
      //   &:hover {
      //     color: $color--brand-linkedin;
      //   }
    }
    &.twitter {
      --brand-color: #{$color--brand-twitter};
      //   &:hover {
      //     color: $color--brand-twitter;
      //   }
    }
    &.instagram {
      --brand-color: #{$color--brand-instagram};
      //   &:hover {
      //     color: $color--brand-instagram;
      //   }
    }
  }
}
