@font-face {
  font-family: "GT America Expanded";
  src: url("/fonts/gt-america-expanded/GT-America-Expanded-Bold.eot")
      format("embedded-opentype"),
    url("/fonts/gt-america-expanded/GT-America-Expanded-Bold.woff2")
      format("woff2"),
    url("/fonts/gt-america-expanded/GT-America-Expanded-Bold.woff")
      format("woff"),
    url("/fonts/gt-america-expanded/GT-America-Expanded-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT America";
  src: url("/fonts/gt-america/GT-America-Standard-Regular-Bold.eot")
      format("embedded-opentype"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Bold.woff2")
      format("woff2"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Bold.woff")
      format("woff"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/gt-america/GT-America-Standard-Regular-Italic.eot")
      format("embedded-opentype"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Italic.woff2")
      format("woff2"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Italic.woff")
      format("woff"),
    url("/fonts/gt-america/GT-America-Standard-Regular-Italic.ttf")
      format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/gt-america/GT-America-Standard-Regular.eot")
      format("embedded-opentype"),
    url("/fonts/gt-america/GT-America-Standard-Regular.woff2") format("woff2"),
    url("/fonts/gt-america/GT-America-Standard-Regular.woff") format("woff"),
    url("/fonts/gt-america/GT-America-Standard-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
