$color--neutral: hsl(0, 0%, 10%);
$color--mid: hsl(0, 0%, 52%);
$color--contrast: hsl(0, 0%, 100%);

$color--brand-faculty: hsl(133, 35%, 58%);
$color--brand-atlas-local: hsl(38, 100%, 58%);
$color--brand-linkedin: hsl(201, 100%, 35%);
$color--brand-twitter: hsl(203, 89%, 53%);
$color--brand-instagram: hsl(349, 75%, 57%);

$font--sans: "GT America", sans-serif;
$font--sans-extended: "GT America Extended", "GT America", sans-serif;
